#logo {
    padding-left: 5%;
}

#mainMessage {
    font-family: myriad;
    font-size: 500%;
}

.message {
    font-family: myriad_appletext;
}

.font-big {
    font-size: 110%;
}

.font-large {
    font-size: 150%;
}

#float-div {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: 'myriad_appletext';
    src: url('myriadat-webfont.woff2') format('woff2'),
         url('myriadat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}