#logo {
    padding-left: 5%;
}

.message {
    font-family: myriad_appletext;
}

.font-big {
    font-size: 110%;
}

.font-large {
    font-size: 150%;
}

.font-larger {
    font-size: 6em;
}


html, body {
    overflow-x: hidden;
}

@media only screen and (max-width: 647px) {

   .font-larger{
       font-size: 5.5em;
   }

}

@media only screen and (max-width: 560px) {

   .font-larger{
       font-size: 5em;
   }

}

@media only screen and (max-width: 423px) {

   .font-larger{
       font-size: 4.5em;
   }

}

@media only screen and (max-width: 381px) {

   .font-larger{
       font-size: 4em;
   }

}

@font-face {
    font-family: 'myriad_appletext';
    src: url('myriadat-webfont.woff2') format('woff2'),
         url('myriadat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}